$primary-color-dark: #2b2927;
$primary-color: #4f5457;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #7ac29a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;


$dark: $primary-color-dark;
$dark-accent: $primary-color;
$menu-label-color: $primary-color-text;
$menu-item-color: $accent-color;
$menu-item-active-background-color: $accent-color;
$menu-item-hover-background-color: none;
$menu-item-hover-color: white;

$desktop: 1100px;
$sidebar-width: 250px;
$navbar-item-img-max-height: none;

$gap: 30px;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
